/************************************* Style sheet for MY PAGE navbar ********************************/
  .navbar {
    background-color: lightskyblue;
    overflow: hidden;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 1000;  
  }

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 3px 3px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 17px;
   
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
/************************************* Style sheet for the Social ICON on the  navbar ********************************/

.social-icons {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
}
/************************************* Style sheet for nav-links bar & Dropdown Button ********************************/

.nav-links {
  background-color: gray;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;  
  margin-top: 40px;
  padding: -2px 0;
  align-items: center;
}

.nav-linkss {
  float: right;
  margin-top: 10px;
}

.nav-links .travelblog-links {
  margin-left: 20px;
  margin-top: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  float: left;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-right: 20px;
  
}

.nav-links li a{
  font-size: 20px;
  font-family: 'Pacifico', cursive;
}

/***************************** Style sheet for Dropdown menu on nav-links bar dropdown **************************/

  .dropdown {
    float: left;
    overflow: hidden;
    position: static;
  }

  .dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding: 14px 16px;
    cursor: pointer;
    margin-top: 0px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
 
/************************************* Style sheet for Button On the Travel Blog ********************************/

  .button {
    padding: 10px 0px;
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    border: 2px solid blue;
    font-size: 16px; /* Adjusted font size */
    width: 150px; /* Adjusted button width */
    text-align: center;
    transition: 0.3s, color 0.3s;
  }
 
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .button:hover {
    background-color: black; 
    color: white; 
    text-decoration: none;
  }

/************************************* Style sheet for ********************************/

  body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }

  body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }

  body, h1, h2, p {
    margin: 0;
    padding: 0;
  }

/************************************* Style sheet for Image row & Text ********************************/

.image-container a{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-container img {
    width: 30%;
    cursor: pointer;
}

.title-section {
  text-align: center;
  margin-top: 80px;
}

.title-text {
  font-family: 'Pacifico', cursive; 
  font-size: 60px;
  color: white; 
  letter-spacing: 2px;
  text-transform: uppercase;
  float: inline-end;
}

.subtitle-text {
  font-family: 'Lato', sans-serif; /* Use a Google Font or default sans-serif font */
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

  /* Style for the header */
  .header {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .travel-image {
    margin-top: 150px;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto; 
    display: block;
}
/************************************* Style sheet for NORTH AMERICA in TRAVELBLOG ********************************/

.liberty {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 20px;
  padding: 5px;
  
}

.section {
  padding: 70px 0;
  background-color: #f5f5f5;
  text-align: center;
  text-align: justify;
}
.northamerica {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 20px;
  
}

.image-row {
display: flex;
justify-content: space-between;
margin-top: -40px;
margin-left: 150px;
margin-right: 150px;

} 

.line-left {
  flex: 1;
  height: 2px;
  background-color: #000;
  margin-left: 150px;
  margin-top:  100px;
}

.line-right {
  flex: 1;
  height: 2px;
  background-color: #000; 
  margin-right: 150px;
  margin-top:  100px;
}

.bi {
  margin-top: 100px;
}

.section-title-text {
  margin: 0 10px;
  display: flex;
  align-items: center;
  margin-top:  100px;
}


/************************************* Style sheet for  ASIA in TRAVELBLOG ********************************/
.asia {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;

  font-size: 20px;
  
}

.line-left-asia {
  flex: 1;
  height: 2px;
  background-color: #000;
  margin-left: 150px;
  margin-top:  110px;
}

.line-right-asia {
  flex: 1;
  height: 2px;
  background-color: #000;
  
  margin-right: 160px;
  margin-top:  110px;
}

.asia-bi {
  margin-top: 110px;
}

.section-title-text-asia {
  margin: 0 10px;
  display: flex;
  align-items: center;
  margin-top:  110px;
}

.image-row-two {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  
  } 
/************************************* Style sheet for  EUROPE ********************************/
.europe {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 20px;
  
}

.line-left-europe {
  flex: 1;
  height: 2px;
  background-color: #000;
  margin-left: 150px;
  margin-top:   110px;
}

.line-right-europe {
  flex: 1;
  height: 2px;
  background-color: #000;
  
  margin-right: 160px;
  margin-top:   110px;
}

.europe-bi {
  margin-top:  110px;
}

.section-title-text-europe {
  margin: 0 10px;
  display: flex;
  align-items: center;
  margin-top:  110px;
}



/************************************* Style sheet for  latinamerica ********************************/
.latinamerica {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;

  font-size: 20px;
  
}

.line-left-latinamerica {
  flex: 1;
  height: 2px;
  background-color: #000;
  margin-left: 150px;
  margin-top:  110px;
}

.line-right-latinamerica {
  flex: 1;
  height: 2px;
  background-color: #000;
  
  margin-right: 160px;
  margin-top:  110px;
}

.latinamerica-bi {
  margin-top: 110px;
}

.section-title-text-latinamerica {
  margin: 0 10px;
  display: flex;
  align-items: center;
  margin-top:  110px;
}

/************************************* Style sheet for africa  ********************************/
.africa {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 20px;
  
}

.line-left-africa {
  flex: 1;
  height: 2px;
  background-color: #000;
  margin-left: 150px;
  margin-top:  110px;
}

.line-right-africa {
  flex: 1;
  height: 2px;
  background-color: #000;
  
  margin-right: 160px;
  margin-top:  110px;
}

.africa-bi {
  margin-top: 110px;
}

.section-title-text-africa {
  margin: 0 10px;
  display: flex;
  align-items: center;
  margin-top:  110px;
}


/************************************* Style sheet for  ********************************/

/************************************* Style sheet for  ********************************/

/************************************* Style sheet for   ********************************/

/************************************* Style sheet for   ********************************/

/************************************* Style sheet for   ********************************/

/************************************* Style sheet for   ********************************/





  /* Style for the overlay text */
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }





  

  



/************************************* USA.html ********************************/

  .rectangle {
     display: flex;
     align-items: center;
     background-color: lightgray;
     width: 90%;
     border-radius: 1px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0);
     align-items: center;
 }

 .image {
     width: 50%;
     padding-right: 20px;
 }

 .image img {
     max-width: 120%;
     height: 100%;
 }

 .text {
     width: 100%;
     padding-left: 20px;
     text-align: center;
     margin-right: 50px;

 }

 .image0-row {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-left: 120px;

}
.image1-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 120px;
 
}
 .container-usa-NYC {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
   }
 */
    .container-usa {
    
     margin-top: 30px;
     position: relative;
     width: 100%;
     height: 100vh;
     background-size: cover;
     background-position: center;
  }



       /* Style for the block-like span */
       .box-span {
        width: 100px;
        height: 100px;
        background-color: #f0f0f0;
        border: 4px solid #f0f0f0;
        text-align: center;
        line-height: 100px;
        text-align: center;
        color: gray;
      }
     
   
  
   
  
  
/************************************* Style sheet for ********************************/
/* travel.css */

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  opacity: 0.7;
  display: none;
}

.back-to-top:hover {
  opacity: 1;
}

/************************************* Style sheet for ********************************/
  
   
  /* Style for the footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Style for the social icons in the footer */
.social-icons-footer a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

/* travel.css */
/* Add your existing CSS styles here */


/* Add this CSS to style the image with date */
.image-with-date {
  position: relative;
  display: inline-block;
}

.image-with-date img {
  display: block;
  max-width: 100%;
}

.image-date {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}




.table-of-contents{
           
background: 0 0;
list-style: none;
line-height: 1.6;
overflow: hidden;
z-index: 1;
background-color: white;
padding: 20px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
max-width: 1123px; 
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #ccc;
  margin-top: 15px;

}

ul, li {
list-style: none;
padding: 0;
margin: 0;

}
.table-of-contents li a {
  text-decoration: none;
}





/* Style for the toggle button */
.toggle-btn {
cursor: pointer;
margin-right: 5px;
font-size: 25px;
}
.bi-card-list, .bi-sort-down{
  font-size: 22px;

}
.toggle-btn1 {
  cursor: pointer;

  }

/* Style for sub-menu */
.sub-menu{
display: none;

}

/* Initially show sub-menu when parent is expanded */
li.expanded .sub-menu {
display: block;
}



.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Single column */
  gap: 10px; /* Gap between grid items */
  list-style: none;
  padding: 0;
}

.grid-container li {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.toggle-btn {
  margin-right: 5px;
  cursor: pointer;
}

.sub-menu {
  margin-top: 5px;
  padding-left: 15px;
}




/* styles.css */


.details-about-page {
  max-width: 1120px;
  margin: 2px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-about-page p {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 10px 0;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.details-about-page p:first-child {
  border-top: 2px solid #e6e6e6;
  padding-top: 0;
}

.details-about-page p:last-child {
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 0;
}


/* Navbar Light Visible */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  opacity: 0.7;
  display: none;
}

.back-to-top:hover {
  opacity: 1;
}

.navbar.light-visible {
            background-color: rgb(170, 185, 172); /* Change this to your desired light color and opacity */
            box-shadow: 0px 2px 4px rgba(48, 40, 40, 0.1); /* Optional: Add a shadow effect */
          color: brown;
          }

          .nav-links.light-visible {
    background-color: rgba(170, 164, 167, 0.9); /* Change this to your desired light color and opacity */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
  }


  
/************************************* Style sheet for neoalvisit.html ********************************/
  .container-col {
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  .custom-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; 
  }
  
  .custom-col {
    flex-basis: calc(25% - 30px);
    padding: 0 15px;
  }

/************************************* Style sheet for Visitpage ********************************/

  #main {
    overflow: visible !important;
    align-items: center;
    margin-top: 105px;
    margin-right: 130px;
    margin-left: 120px;
    
  }
  .main {
    border: 5px;
  }
  
  /* Style for the content container */
  #content {
    overflow: visible !important;
  }
  
  /* Style for the article container */
  .article-inner {
    overflow: visible !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Example box shadow */
    border: #888;
   
  }
  
  /* Style for the entry title */
  .entry-title {
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
  }
  
  /* Style for the entry meta information */
  .entry-meta {
    font-size: 16px;
    color: #888;
    text-align: center;
  }
  
  /* Style for the entry image */
  .entry-image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  /* Style for the badge */
  .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
  }
  
  /* Style for the entry content */
  .entry-content {
    overflow: visible !important;
    margin: 20px 20px 0px 20px;
  }
  
  /* Style for the hr separator */
  .wp-block-separator {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #ccc;
  }

  .image-row-visitpage {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: -100px;
  
  }

  .entry-category{
    font-size: large;
    text-align: center;
    margin-top: 20px;
  }

  .nepal-province a{
    text-align: center;
    font-size: 35px;
    font-family: cursive;
    font-style: italic;
    color: blue;
  }
  
  .nepal-province{
    text-align: center;
  }

  .madhesh{
background-color: yellowgreen;
  }
  .hr-header{
   margin-right: 150px;
   margin-left: 150px;
   
  }
  .hr-head{
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-family: cursive;
  }

  .paragraph-visitpage{
    margin: 0px 20px 10px 20px; /*  top right bottom left */
  
    text-align: auto;
  }
  

@media (max-width: 576px) {
  #main {
    overflow: visible !important;
    align-items: center;
  
    margin-right: 10px;
    margin-left: 10px;
    
  }
  .main {
    border: 2px;
   
  }
  
  /* Style for the content container */
  #content {
    overflow: visible !important;
    margin-top: 80px;
  }
  
  /* Style for the article container */
  .article-inner {
    overflow: visible !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Example box shadow */
    border: #888;
   
  }
  
  /* Style for the entry title */
  .entry-title {
    font-size: 12px;
    margin: 20px 0;
    text-align: center;
  }
  
  /* Style for the entry meta information */
  .entry-meta {
    font-size: 16px;
    color: #888;
    text-align: center;
  }
  
  /* Style for the entry image */
  .entry-image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  /* Style for the badge */
  .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
  }
  
  /* Style for the entry content */
  .entry-content {
    overflow: visible !important;
    margin: 20px 20px 0px 20px;
  }
  
  /* Style for the hr separator */
  .wp-block-separator {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #ccc;
  }
  
  .entry-category {
   
    text-align: center;
   
  }


}